<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="home">
    <style>
        .node {
        }

        .link {
            stroke: #999;
            stroke-opacity: 1;
            stroke-width: 2px;
        }
    </style>

    <div id="d_alert_content" class="row alert alert-info" role="alert">
        <!--/*@thymesVar id="twitterProfile" type="org.springframework.social.twitter.api.TwitterProfile"*/-->
        <span th:text="'Hello, ' + ${twitterProfile.screenName} + ' !'"></span>
        <button id="b_create_node" class="btn btn-primary btn-s" type="button">Create a Node</button>
        <div id="d_create_node">
            <br>
            <input id="i_node_name" type="text" class="form-control" placeholder="Enter node name...">
            <br>
            <input id="i_node_type" type="text" class="form-control" placeholder="Enter node type...">
            <br>
            <input id="i_node_description" type="text" class="form-control" placeholder="Enter node description...">
            <br>
            <button id="b_submit_node" class="btn btn-primary btn-s" type="button">Submit the Node</button>
        </div>
    </div>

    <div id="d_node_action" class="row alert alert-info">
        <span id="s_node_name"></span>
        <div class="row">
            <br>
            <div class="col-lg-6">
                <div class="input-group">
                    <input id="i_tweet_url" type="text" class="form-control" placeholder="Enter tweet url...">
                    <span class="input-group-btn">
                        <button id="b_connect_tweet" class="btn btn-default" type="button">Connect a tweet!</button>
                    </span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="input-group">
                    <select id="s_node" class="form-control">
                        <option th:each="node : ${nodes}" th:value="${node.id}" th:text="${node.name}"></option>
                    </select>
                    <span class="input-group-btn">
                        <button id="b_connect_node" class="btn btn-default" type="button">Connect to the node!</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
                <input type="text" placeholder="Search relationship type..." class="form-control" id="i_search_relation"
                       onkeyup="searchrelations()">
                <div id="d_types" class="alert alert-warning"></div>
            </div>
        </div>
    </div>

    <svg class="center-block" width="1024" height="400"></svg>

    <script src="http://d3js.org/d3.v4.min.js" type="text/javascript"></script>
    <script src="http://d3js.org/d3-selection-multi.v1.js"></script>
    <script type="text/javascript">
        var svg = d3.select("svg"),
            width = +svg.attr("width"),
            height = +svg.attr("height"),
            node,
            link;

        svg.append('defs').append('marker')
            .attrs({
                'id': 'arrowhead',
                'viewBox': '-0 -5 10 10',
                'refX': 30,
                'refY': 0,
                'orient': 'auto',
                'markerWidth': 5,
                'markerHeight': 5,
                'xoverflow': 'visible'
            })
            .append('svg:path')
            .attr('d', 'M 0,-5 L 10 ,0 L 0,5')
            .attr('fill', '#999')
            .style('stroke', 'none');

        var simulation = d3.forceSimulation()
            .force("link", d3.forceLink().id(function (d) {
                return d.id;
            }).distance(250).strength(1))
            .force("charge", d3.forceManyBody())
            .force("center", d3.forceCenter(width / 2, height / 2));

        initialize();

        function initialize() {
            var requestURL = "/linkyway/api/node/random";
            $.ajax({
                url: requestURL,
                type: "GET",
                dataType: "json",
                success: function (node) {
                    try {
                        d3.json("/linkyway/api/node/" + node.id + "/related", function (error, graph) {
                            if (error) throw error;
                            update(graph.linkList, graph.nodeList);
                        });
                    } catch (e) {
                        alert(e.toString());
                    }
                },
                error: function (e) {
                    alert(e.toString());
                }
            });
        }

        function update(links, nodes) {
            link = svg.selectAll(".link")
                .data(links)
                .enter()
                .append("line")
                .attr("class", "link")
                .attr('marker-end', 'url(#arrowhead)')

            link.append("title")
                .text(function (d) {
                    return d.type;
                });

            edgepaths = svg.selectAll(".edgepath")
                .data(links)
                .enter()
                .append('path')
                .attrs({
                    'class': 'edgepath',
                    'fill-opacity': 0,
                    'stroke-opacity': 0,
                    'id': function (d, i) {
                        return 'edgepath' + i
                    }
                })
                .style("pointer-events", "none");

            edgelabels = svg.selectAll(".edgelabel")
                .data(links)
                .enter()
                .append('text')
                .style("pointer-events", "none")
                .style("font-size", "15px")
                .style("font-family", "SaturaTextPro")
                .style("font-size", "15px")
                .style("paint-order", "stroke")
                .style("stroke", "#fff")
                .style("stroke-width", "2px")
                .style("stroke-linecap", "butt")
                .style("stroke-linejoin", "miter")
                .attr("dy", 15)
                .attrs({
                    'class': 'edgelabel',
                    'id': function (d, i) {
                        return 'edgelabel' + i
                    },
                    'fill': '#030303'
                });

            edgelabels.append('textPath')
                .attr('xlink:href', function (d, i) {
                    return '#edgepath' + i
                })
                .style("text-anchor", "middle")
                .style("pointer-events", "none")
                .attr("startOffset", "50%")
                .text(function (d) {
                    return d.type
                });

            node = svg.selectAll(".node")
                .data(nodes)
                .enter()
                .append("g")
                .attr("class", "node")
                .call(d3.drag()
                    .on("start", dragstarted)
                    .on("drag", dragged)
                    .on("end", dragended)
                );

            node.append("circle")
                .on("click", function (d) {
                    d3.selectAll("circle")
                        .attr("selected", "false")
                        .style("fill", "#000a2a");
                    d3.select(this)
                        .attr("selected", "true")
                        .style("fill", "#FFF");
                    selected(d);
                })
                .on("mouseover", function () {
                    if (d3.select(this).attr("selected") !== "true")
                        d3.select(this).style("fill", "#FFF");
                })
                .on("mouseout", function () {
                    if (d3.select(this).attr("selected") !== "true")
                        d3.select(this).style("fill", "#000a2a");
                })
                .attr("selected", "false")
                .attr("r", function (d, i) {
                    if (i === 0)
                        return 25;
                    else
                        return 20;
                })
                .style("stroke-width", "2px")
                .style("stroke", "#000a2a")
                .style("fill", "#000a2a")
                .style("cursor", "pointer")

            node.append("title")
                .style("cursor", "pointer")
                .text(function (d) {
                    return d.id;
                });

            node.append("text")
                .attr("dy", -3)
                .attr('dx', 30)
                .style("font-size", "20px")
                .style("paint-order", "stroke")
                .style("stroke", "#fff")
                .style("stroke-width", "1px")
                .style("stroke-linecap", "butt")
                .style("stroke-linejoin", "miter")
                .style("font-family", "SaturaTextPro")
                .style("cursor", "pointer")
                .text(function (d) {
                    return d.name;
                });

            node.append('text')
                .attr('x', 0)
                .attr('dx', 30)
                .attr('dy', 15)
                .style("font-size", "15px")
                .style("paint-order", "stroke")
                .style("stroke", "#fff")
                .style("stroke-width", "1px")
                .style("stroke-linecap", "butt")
                .style("stroke-linejoin", "miter")
                .style("font-family", "SaturaTextPro")
                .style("cursor", "pointer")
                .text(function (d) {
                    return d.type;
                })

            node.append('text')
                .attr('x', 0)
                .attr('dx', -4)
                .attr('dy', 4)
                .style("font-size", "15px")
                .style("font-family", "SaturaTextPro")
                .style("pointer-events", "none")
                .text(function (d) {
                    return d.id;
                })

            simulation
                .nodes(nodes)
                .on("tick", ticked);

            simulation.force("link")
                .links(links);
        }

        function clicked() {
            alert(node.toString());
        }

        function ticked() {
            link
                .attr("x1", function (d) {
                    return d.source.x;
                })
                .attr("y1", function (d) {
                    return d.source.y;
                })
                .attr("x2", function (d) {
                    return d.target.x;
                })
                .attr("y2", function (d) {
                    return d.target.y;
                });

            node
                .attr("transform", function (d) {
                    return "translate(" + d.x + ", " + d.y + ")";
                });

            edgepaths.attr('d', function (d) {
                return 'M ' + d.source.x + ' ' + d.source.y + ' L ' + d.target.x + ' ' + d.target.y;
            });

            edgelabels.attr('transform', function (d) {
                if (d.target.x < d.source.x) {
                    var bbox = this.getBBox();

                    rx = bbox.x + bbox.width / 2;
                    ry = bbox.y + bbox.height / 2;
                    return 'rotate(180 ' + rx + ' ' + ry + ')';
                }
                else {
                    return 'rotate(0)';
                }
            });
        }

        function dragstarted(d) {
            if (!d3.event.active) simulation.alphaTarget(0.3).restart()
            d.fx = d.x;
            d.fy = d.y;
        }

        function dragged(d) {
            d.fx = d3.event.x;
            d.fy = d3.event.y;
        }

        function dragended(d) {
            return; //it arranges the nodes after drag ended, not needed for the moment

            if (!d3.event.active) simulation.alphaTarget(0);
            d.fx = undefined;
            d.fy = undefined;
        }

        function selected(d) {
            $("#d_node_action").show("slow");
            $("#s_node_name").html(d.name);
            $("#b_connect_tweet").click({d: d}, function () {
                connecttweet(d);
            });
            $("#b_connect_node").click({d: d}, function () {
                connectnode(d);
            });
        }

        function createnode() {
            var name = $("#i_node_name").val();
            var type = $("#i_node_type").val();
            var description = $("#i_node_description").val();

            if (name.length === 0 || type.length === 0 || description.length === 0) {
                alert("Enter all required variables!");
                return;
            }

            var data = new FormData();
            data.append("name", name);
            data.append("type", type);
            data.append("description", description);

            var requestURL = "/linkyway/api/node/";
            $.ajax({
                url: requestURL,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    try {
                        alert("Node '" + name + "' is created successfully.");
                        location.reload();
                    } catch (e) {
                        alert(e.toString());
                    }
                },
                error: function () {
                    alert("Request error!");
                }
            });
        }

        function connecttweet(d) {
            var tweetUrl = $("#i_tweet_url").val();
            if (tweetUrl.length === 0) {
                alert("Enter Tweet URL!");
                return;
            }

            var nodeId = d.id;
            var index = tweetUrl.lastIndexOf("/");
            var tweetId = tweetUrl.substring(index + 1);

            var data = new FormData();
            data.append("tweetId", tweetId);
            data.append("nodeId", nodeId);

            var requestURL = "/linkyway/api/node/tweet";
            $.ajax({
                url: requestURL,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    try {
                        var nodeName = d.name;
                        alert("The tweet with id '" + tweetId + "' is connected with the node '" + nodeName + "'");
                        location.reload();
                    } catch (e) {
                        alert(e.toString());
                    }
                },
                error: function () {
                    alert("Request error!");
                }
            });
        }

        function connectnode(d) {
            var sourceNodeId = d.id;
            var targetNodeId = $("#s_node").val();
            var relationshipType = $('input[name=i_relation_type]:checked').val();

            if (relationshipType == null) {
                alert("Select relationship type!");
                return;
            }

            var data = new FormData();
            data.append("sourceNodeId", sourceNodeId);
            data.append("targetNodeId", targetNodeId);
            data.append("relationshipType", relationshipType);

            var requestURL = "/linkyway/api/relation";
            $.ajax({
                url: requestURL,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    try {
                        var sourceNodeName = d.name;
                        var targetNodeName = $("#s_node option:selected").text();
                        alert("The node '" + sourceNodeName + "' is connected with the node '" + targetNodeName + "'");
                        location.reload();
                    } catch (e) {
                        alert(e.toString());
                    }
                },
                error: function () {
                    alert("Request error!");
                }
            });
        }

        function searchrelations() {
            $('#d_types').empty();

            var language = "en";
            var keyword = $("#i_search_relation").val();

            var data = new FormData();
            data.append("language", language);
            data.append("keyword", keyword);

            var requestURL = "/linkyway/api/relation/search";
            $.ajax({
                url: requestURL,
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    $('#d_types').empty();
                    for (i = 0; i < response.length; i++) {
                        var type = response[i];
                        var name = type.name;
                        var code = type.code;
                        var radiobutton = $('<input type="radio" name="i_relation_type" value="' + code + '">' + name + '</><br/>');
                        radiobutton.appendTo('#d_types');
                    }
                },
                error: function () {
                    alert("Request error!");
                }
            });


            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $("#d_node_action").hide();

        $("#b_create_node").click(function () {
            $("#d_create_node").show("slow");
        });
        $("#d_create_node").hide();

        $("#b_submit_node").click(function () {
            createnode()
        });

        $("#b_submit_node").click(function () {
            createnode()
        });
    </script>
</div>