<!DOCTYPE html>
<div xmlns:th="http://www.thymeleaf.org" th:fragment="login">
    <img src="img/twitter_logo.png"
         style="height: 100px; width: 100px; margin-left: auto;  display: block;  margin-right: auto; margin-bottom: 20px"/>
    <form action="/connect/twitter" method="post" style="text-align: center">
        <div>
            <p>Welcome to LinkyWay!</p>
            <button class="btn btn-primary">
                <span>Connect with Twitterrrrrrrr</span>
            </button>
        </div>
    </form>
</div>