<!DOCTYPE html>
<head xmlns:th="http://www.thymeleaf.org" th:fragment="header">
    <meta lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>LinkyWay - Smart Annotation</title>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">

    <script src="/js/modernizr-2.6.2.js"></script>
    <script src="/js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/respond.js"></script>
</head>