<!DOCTYPE html>
<html>
<head>
    <meta lang="tr">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LinkyWay - Smart Annotation</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <script src="/js/modernizr-2.6.2.js"></script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="logo_container">
            <div id="logo"></div>
            <div id="logo_extension">
                <div style="font-size:30px">LinkyWay</div>
                <div>smart way annotation</div>
            </div>
        </div>
    </div>
</div>
<div class="container body-content">
    <div class="row" id="div_master_content">
        <img src="img/twitter_logo.png"
             style="height: 100px; width: 100px; margin-left: auto;  display: block;  margin-right: auto; margin-bottom: 20px">
        <form action="/connect/twitter" method="post" style="text-align: center; height: 200px">
            <div>
                <p> Welcome to LinkyWay!</p>
                <button class="btn btn-primary">
                    <span>Connect with Twitter</span>
                </button>
            </div>
        </form>
    </div>
    <hr>
    <footer>
        <p>© 2018 - LinkyWay</p>
    </footer>
</div>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/respond.js"></script>
</body>
</html>